In [1]:
import numpy as np
import pandas as pd

In [2]:
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"
title_aka = 'https://datasets.imdbws.com/title.akas.tsv.gz'
title_rating = 'https://datasets.imdbws.com/title.ratings.tsv.gz'

In [3]:
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)

In [4]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [8]:
basics['endYear'].replace({'\\N':np.nan}, inplace=True)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

In [12]:
basics['runtimeMinutes'].replace({'\\N':np.nan}, inplace=True)
basics['runtimeMinutes']

0            1
1            5
2            4
3           12
4            1
          ...
9906178    NaN
9906179    NaN
9906180    NaN
9906181     27
9906182     10
Name: runtimeMinutes, Length: 9906183, dtype: object

In [16]:
basics[basics['genres'] == '\\N']

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
498,tt0000502,movie,Bohemios,Bohemios,0,1905,NaN,100,\N
828,tt0000838,movie,A Cultura do Cacau,A Cultura do Cacau,0,1909,NaN,NaN,\N
832,tt0000842,movie,De Garraf a Barcelona,De Garraf a Barcelona,0,1909,NaN,NaN,\N
836,tt0000846,movie,Un día en Xochimilco,Un día en Xochimilco,0,1909,NaN,NaN,\N
840,tt0000850,movie,Los dos hermanos,Los dos hermanos,0,1909,NaN,NaN,\N
...,...,...,...,...,...,...,...,...,...
9905874,tt9916210,tvSeries,Rumpole of the Bailey,Rumpole of the Bailey,0,\N,NaN,NaN,\N
9906097,tt9916672,tvEpisode,L'échange,L'échange,0,2007,NaN,NaN,\N
9906103,tt9916684,tvEpisode,Otages (1e partie),Otages (1e partie),0,2007,NaN,NaN,\N
9906110,tt9916700,tvEpisode,Apex Cartoon - Meet the Legends,Apex Cartoon - Meet the Legends,0,2019,NaN,NaN,\N
9906123,tt9916730,movie,6 Gunn,6 Gunn,0,2017,NaN,116,\N

In [17]:
basics['genres'].replace({'\\N':np.nan}, inplace=True)
basics['genres']

0                   Documentary,Short
1                     Animation,Short
2            Animation,Comedy,Romance
3                     Animation,Short
4                        Comedy,Short
                      ...
9906178           Action,Drama,Family
9906179           Action,Drama,Family
9906180           Action,Drama,Family
9906181                         Short
9906182    Adventure,Animation,Comedy
Name: genres, Length: 9906183, dtype: object

In [19]:
basics['titleType'].value_counts()

tvEpisode       7527748
short            934239
movie            647320
video            274917
tvSeries         244532
tvMovie          141914
tvMiniSeries      48815
tvSpecial         41891
videoGame         34797
tvShort           10009
tvPilot               1
Name: titleType, dtype: int64

In [22]:
basics = basics[basics['titleType'] == 'movie']
basics['titleType']

8          movie
144        movie
498        movie
570        movie
587        movie
           ...
9906074    movie
9906101    movie
9906113    movie
9906123    movie
9906133    movie
Name: titleType, Length: 647320, dtype: object

In [23]:
basics['titleType'].value_counts()

movie    647320
Name: titleType, dtype: int64

In [41]:
basics['startYear'].replace({'\\N':np.nan}, inplace=True)

In [52]:
basics['startYear'] = pd.to_numeric(basics['startYear'])

In [68]:
basics = basics.copy()

In [69]:
basics = basics[(basics['startYear'] >= 2000) & (basics['startYear'] <= 2022)]

In [73]:
basics['startYear'] = basics['startYear'].astype(int)
basics['startYear'].value_counts()

2022    19344
2018    18821
2017    18706
2019    18614
2016    18251
2021    18110
2015    17001
2014    16374
2020    15976
2013    15225
2012    14554
2011    13487
2010    12542
2009    11735
2008    10260
2007     8785
2006     8094
2005     7562
2004     6571
2003     6002
2002     5760
2001     5544
2000     5177
Name: startYear, dtype: int64

In [77]:
basics['titleType']

11636      movie
13082      movie
15178      movie
34803      movie
42384      movie
           ...
9906074    movie
9906101    movie
9906113    movie
9906123    movie
9906133    movie
Name: titleType, Length: 292495, dtype: object

In [82]:
titles = pd.read_csv(title_aka, sep='\t', low_memory=False)
titles.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [83]:
titles = titles.copy()

In [84]:
titles = titles[titles['region'] == 'US']
titles.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,\N,imdbDisplay,\N,0
14,tt0000002,7,The Clown and His Dogs,US,\N,\N,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,\N,imdbDisplay,\N,0
36,tt0000005,1,Blacksmithing Scene,US,\N,alternative,\N,0
41,tt0000005,6,Blacksmith Scene #1,US,\N,alternative,\N,0

In [85]:
titles.replace({'\\N':np.nan}, inplace=True)
titles.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
14,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
36,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
41,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0

In [86]:
ratings = pd.read_csv(title_rating, sep='\t', low_memory=False)
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1978
1  tt0000002            5.8       265
2  tt0000003            6.5      1831
3  tt0000004            5.6       179
4  tt0000005            6.2      2621

In [87]:
ratings.replace({'\\N':np.nan}, inplace=True)
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1978
1  tt0000002            5.8       265
2  tt0000003            6.5      1831
3  tt0000004            5.6       179
4  tt0000005            6.2      2621

In [100]:
# Exclude movies that are included in the documentary category.
is_documentary = basics['genres'].str.contains('documentary', na=False)
basics = basics[~is_documentary]

In [101]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
11636,tt0011801,movie,Tötet nicht mehr,Tötet nicht mehr,0,2019,NaN,NaN,"Action,Crime"
13082,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021,NaN,94,Documentary
15178,tt0015414,movie,La tierra de los toros,La tierra de los toros,0,2000,NaN,60,NaN
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
42384,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013,NaN,120,"Drama,History"

In [102]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers = basics['tconst'].isin(titles['titleId'])
keepers

11636      False
13082      False
15178      False
34803       True
42384       True
           ...
9906074    False
9906101    False
9906113    False
9906123    False
9906133    False
Name: tconst, Length: 292495, dtype: bool

In [103]:
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
42384,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013,NaN,120,"Drama,History"
61115,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
67668,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
86800,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
...,...,...,...,...,...,...,...,...,...
9905716,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,NaN,97,"Comedy,Drama,Fantasy"
9905856,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51,Drama
9905865,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller"
9905949,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"
9905981,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0,2019,NaN,NaN,"Adventure,History,War"

In [105]:
# example making new folder with os
import os
# Confirm folder created
os.listdir("DATA/")

[]

In [106]:
## Save current dataframe to file.
basics.to_csv("DATA/title_basics.csv.gz",compression='gzip',index=False)

In [107]:
basics2 = pd.read_csv("DATA/title_basics.csv.gz", low_memory = False)
basics2.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118.0,"Comedy,Fantasy,Romance"
1,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013,NaN,120.0,"Drama,History"
2,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70.0,Drama
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122.0,Drama
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100.0,"Comedy,Horror,Sci-Fi"