In [1]:
import numpy as np
import pandas as pd

In [11]:
basics_url= "https://datasets.imdbws.com/title.basics.tsv.gz"
title_aka = 'https://datasets.imdbws.com/title.akas.tsv.gz'
title_rating = 'https://datasets.imdbws.com/title.ratings.tsv.gz'

In [19]:
# read in files
basics = pd.read_csv(basics_url, sep = '\t', low_memory = False)
title = pd.read_csv(title_aka, sep = '\t', low_memory = False)
rating = pd.read_csv(title_rating, sep = '\t', low_memory = False)

In [20]:
basics_res = basics.copy()
title_res = title.copy()
title_res = title.copy()

## 2.1 basics dataframe

In [21]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9922854 entries, 0 to 9922853
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 681.3+ MB

In [22]:
# find and replace with np.nan
basics.replace({'\\N': np.nan}, inplace = True)

# check
basics.isna().sum()

tconst                  0
titleType               0
primaryTitle           11
originalTitle          11
isAdult                 1
startYear         1337848
endYear           9814334
runtimeMinutes    6984375
genres             445155
dtype: int64

In [23]:
# drop nulls in 'runtimeMinutes' column
basics.dropna(subset = ['runtimeMinutes'], inplace = True)

# check
basics['runtimeMinutes'].isna().sum()

0

In [24]:
# drop nulls in 'genres' column
basics.dropna(subset = ['genres'], inplace = True)

# check
basics['genres'].isna().sum()

0

In [25]:
# keep only 'titleType' == 'movie'
basics = basics[basics['titleType'] == 'movie']

# check
basics['titleType'].value_counts()

movie    383691
Name: titleType, dtype: int64

In [26]:
# drop nulls from column
basics.dropna(subset = ['startYear'], inplace = True)

# check
basics['startYear'].isna().sum()

0

In [27]:
# convert dtype to int
basics['startYear'] = basics['startYear'].astype(int)

In [28]:
# check min and max year first
basics['startYear'].describe()

count    377217.000000
mean       1995.816485
std          26.685556
min        1894.000000
25%        1981.000000
50%        2008.000000
75%        2016.000000
max        2029.000000
Name: startYear, dtype: float64

In [29]:
# keep only 'startYear' from 2000 to 2022, including 2000 and 2022
basics = basics[(basics['startYear'] >= 2000) &
                (basics['startYear'] <= 2022)]

# check
basics['startYear'].value_counts().sort_index(ascending = False)

2022    12913
2021    12407
2020    11587
2019    14101
2018    14344
2017    14384
2016    13965
2015    13478
2014    13123
2013    12394
2012    11652
2011    10779
2010    10214
2009     9367
2008     8166
2007     6967
2006     6526
2005     5846
2004     5218
2003     4596
2002     4136
2001     3873
2000     3643
Name: startYear, dtype: int64

In [30]:
# check out 'genres' column
basics['genres'].value_counts()

Documentary                  53382
Drama                        36084
Comedy                       13462
Comedy,Drama                  6460
Horror                        5803
                             ...
Animation,Biography,Sport        1
Adventure,History,Music          1
Adventure,History,War            1
Adventure,Romance,Sport          1
Crime,Fantasy,Sci-Fi             1
Name: genres, Length: 1172, dtype: int64

In [31]:
# exclude any movies that have 'documentary' in their genre
is_documentary = basics['genres'].str.contains('documentary', 
                                               case = False)
basics = basics[~is_documentary]

# check
basics['genres'].value_counts()

Drama                        36084
Comedy                       13462
Comedy,Drama                  6460
Horror                        5803
Drama,Romance                 4317
                             ...
Family,Musical,Sport             1
Horror,Music,Mystery             1
Comedy,History,Mystery           1
Animation,Biography,Sport        1
Crime,Fantasy,Sci-Fi             1
Name: genres, Length: 955, dtype: int64

In [32]:
# check info
title.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36198559 entries, 0 to 36198558
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.2+ GB

In [33]:
# find and replace with np.nan
title.replace({'\\N': np.nan}, inplace = True)

# check
title.isna().sum()

titleId                   0
ordering                  0
title                     5
region              1893166
language            6632576
types              30617571
attributes         35937614
isOriginalTitle        2078
dtype: int64

In [34]:
# drop null values in 'region'
title.dropna(subset = ['region'], inplace = True)

# check
title['region'].isna().sum()

0

In [35]:
# check values in 'region'
title['region'].value_counts()

DE    4337458
FR    4333012
JP    4331218
IN    4273091
ES    4252718
       ...
FM          2
TV          1
PW          1
NR          1
NU          1
Name: region, Length: 247, dtype: int64

In [36]:
# check number of movies from US
len(title[title['region'] == 'US'])

1444405

In [37]:
# keep only movies from uS
title = title[title['region'] == 'US']

# check
title['region'].value_counts()

US    1444405
Name: region, dtype: int64

In [38]:
# check info
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1318736 entries, 0 to 1318735
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1318736 non-null  object
 1   averageRating  1318736 non-null  float64
 2   numVotes       1318736 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 30.2+ MB

In [39]:
# find and replace with np.nan
rating.replace({'\\N': np.nan}, inplace = True)

# check
rating.isna().sum()

tconst           0
averageRating    0
numVotes         0
dtype: int64

In [40]:
us_movies = basics['tconst'].isin(title['titleId'])

# check
us_movies

34803       True
42384       True
61115       True
67668       True
86800       True
           ...
9922527     True
9922536     True
9922575    False
9922620     True
9922704    False
Name: tconst, Length: 147681, dtype: bool

In [41]:
len(basics)

147681

In [42]:
# filter
basics = basics[us_movies]

# check
len(basics)

86769

In [43]:
us_movies = rating['tconst'].isin(title['titleId'])

# check
us_movies

0           True
1           True
2          False
3          False
4           True
           ...
1318731    False
1318732    False
1318733    False
1318734    False
1318735    False
Name: tconst, Length: 1318736, dtype: bool

In [44]:
len(rating)

1318736

In [45]:
# check info for basics
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86769 entries, 34803 to 9922620
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          86769 non-null  object
 1   titleType       86769 non-null  object
 2   primaryTitle    86769 non-null  object
 3   originalTitle   86769 non-null  object
 4   isAdult         86769 non-null  object
 5   startYear       86769 non-null  int64
 6   endYear         0 non-null      object
 7   runtimeMinutes  86769 non-null  object
 8   genres          86769 non-null  object
dtypes: int64(1), object(8)
memory usage: 6.6+ MB

In [46]:
# check info for title
title.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1444405 entries, 5 to 36198303
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1444405 non-null  object
 1   ordering         1444405 non-null  int64
 2   title            1444405 non-null  object
 3   region           1444405 non-null  object
 4   language         3950 non-null     object
 5   types            979987 non-null   object
 6   attributes       46743 non-null    object
 7   isOriginalTitle  1443063 non-null  object
dtypes: int64(1), object(7)
memory usage: 99.2+ MB

In [47]:
# check info for ratings
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1318736 entries, 0 to 1318735
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1318736 non-null  object
 1   averageRating  1318736 non-null  float64
 2   numVotes       1318736 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 30.2+ MB

In [48]:
# save each file to a compressed csv file in data folder
basics.to_csv('Data/title_basics.csv.gz', 
              compression = 'gzip', 
              index = False)

# check
basics = pd.read_csv('Data/title_basics.csv.gz',
                    low_memory = False)

basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013,NaN,120,"Drama,History"
2,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"

In [50]:
# save each file to a compressed csv file in data folder
title.to_csv('Data/titles.csv.gz', 
              compression = 'gzip', 
              index = False)

# check
title = pd.read_csv('Data/titles.csv.gz',
                    low_memory = False)

title.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0.0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0.0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0.0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0.0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0.0

In [51]:
# save each file to a compressed csv file in data folder
rating.to_csv('Data/ratings.csv.gz', 
              compression = 'gzip', 
              index = False)

# check
rating = pd.read_csv('Data/ratings.csv.gz',
                    low_memory = False)

rating.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1979
1  tt0000002            5.8       265
2  tt0000003            6.5      1832
3  tt0000004            5.6       179
4  tt0000005            6.2      2621